section{

}
#nadpis-div{
  text-align: center;
  background-size: cover;
  background-image: url("../../assets/fotky/backgroung002.jpg");
  text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 360px;
  float: right;
}
#nadpis-h1{
  font-size: 6em;
  margin-left: 10%;
  margin-right: 10%;
}
li{
  list-style: none;
}

li:nth-child(odd){
  background-color: rgba(0, 0, 0, 0.6);
}
li:nth-child(even){
  background-color: rgba(0, 0, 0, 0.2);
}

.onas{
  text-align: justify;
  font-style: italic;
}

ul > h1 {
  padding-top: 5%;
  text-align: center;
  font-size: 1.8em;
}

.turnaj-div{
  margin-top: 10px;
  margin-bottom: 20px;
}

div#history{
  padding-left: 4%;
  padding-right: 6%;
  margin-top: 360px;
  background-size: cover;
  background: url("../../assets/fotky/backgroung001.jpg") repeat-y;
}
table{
  padding-left: 4%;
}
