<!--<p>-->
<!--login works!-->
<!--</p>-->

<section>
  <div *ngIf="!(isLoggedIn$ | async)">

    <div class="warning">! Pro zalozku media potrebujete byt prihlaseni (po prihlaseni budete presmerovani) !</div>

    <h1>Login Form</h1>
    <div class="container">
      <form #form="ngForm" (submit)="login(form)">
        <input type="text" id="username" placeholder="jmeno" name="username" ngModel="" required>
        <input type="password" id="password" placeholder="heslo" name="password" ngModel="" required>
        <button type="submit" class="btn-login">Prihlasit</button><!--(click)="login()"-->
      </form>
    </div>

  </div>

  <div *ngIf="(isLoggedIn$ | async)">

    <!--<h1>Login Form</h1>-->
    <div class="container">
      <button (click)="onLogout()">Logout</button>
    </div>
  </div>
</section>
