.app-header {
  overflow: hidden;
  background-color: #111111;
  /*display: inline-grid;*/
}

nav ul{
  list-style: none;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 0.3em black solid;

}

nav a:hover:not(.active) {
  /*background-color: #fff7ee;*/
  border-bottom: 0.3em darkgray solid;
}

nav a.active {
  /*background-color: darkred;*/
  border-bottom: 0.3em darkred solid;
  /*border: #061bff;*/
}
