header { padding: 15px 0; background: #000000; color: #fff;  }
header div#logo { float: left; width: 20%;}

header div#nav-div { margin-left: 20%;}
#wrapper{
  width:80%;
  margin-left:10%;
  margin-right:10%;
}
header nav {}
header nav ul {  /*display: none;*/ float: right;
  display: block !important;
  padding: 30px 0 0 0;}
header li {display: block;
  float: left;
  padding: 0 0 0 30px;
  text-align: left;
  width: auto; }
header nav a { color: #fff; font-size: 1.2em; text-transform: uppercase; padding: 0 0 2px 0; text-decoration: none; }
header nav a:hover:not(.active) { border-bottom: 0.3em darkgray solid;}
header nav a:hover,
header nav a.active { border-bottom: 0.3em darkred solid; }

footer { padding: 50px 0; background: #000000; color: #fff; position: relative }


footer #footer-logo { max-width: 64px; display: block; margin: 0 0 20px 0; }

#kontakty{
  /*padding-top: 2%;*/
  text-align: center;
  padding-left: 14%;
  padding-right: 15%;
  line-height: 0.4em;
}

#fb, #mail{
  float: left;
  width: 50%;
}

#fb > a, #mail > a{
  text-decoration: none;
  color: white;
}
#fb > img, #mail > img{
  float: none;
  margin-right: 10px;
}
