<!--The content below is only a placeholder and can be replaced.-->

<header class="app-header">
  <div id="wrapper">

    <div id="logo">
      <a routerLink="">
        <img class="pd-logo" width="150px"  alt="PD Logo" src="./assets/bwLogo.png">
      </a>
    </div>

    <div id="nav-div">
      <nav>
        <ul>
          <li><a routerLink="" routerLinkActive="active"
                 [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
          <li><a routerLink="events" routerLinkActive="active">Events</a></li>
          <li><a routerLink="players" routerLinkActive="active">Team</a></li>
          <li><a routerLink="results" routerLinkActive="active">Results</a></li>
          <li><a routerLink="blog" routerLinkActive="active">Blog</a></li>
          <li><a routerLink="media" routerLinkActive="active">Media</a></li>
          <li>
            <a routerLink="login" routerLinkActive="active" *ngIf="!(isLoggedIn$ | async)">Sign In</a>
            <a routerLink="login" routerLinkActive="active" *ngIf="(isLoggedIn$ | async)">Sign Out</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="app-footer">
  <div id="kontakty">
    <div id="fb">
      <img id="fb-logo" width="24" height="24" src="../assets/fb-logo.png">
      <a href="https://www.facebook.com/praguedevils">join us!</a>
    </div>
    <div id="mail">
      <img id="mail-logo" width="24" height="24" src="../assets/mail-logo.png">
      <a href="mailto:info@praguedevils.org">mail us</a>
    </div>
  </div>
</footer>


