/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Roboto;
  src: url("https://fonts.googleapis.com/css?family=Roboto");
}

*{
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0;
}

app-root{
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  /*width: 100vw;*/
}
